.graph-section {
    position: relative;
    /* Make elements inside the container behave like table cells */
}

.canvas-background-pic {
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
}

.reaction-matrix {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.reaction-matrix>* {
    width: auto;
    align-self: center;
    text-align: center;
    z-index: 105;
}

.reaction-matrix>*>* {
    width: 100px;
    opacity: 0.0;
    transition: 0;
    transition-delay: 150ms;
}

.reaction-block:hover>*,
.reaction-block>*:active>* {
    opacity: 1;
    color: aliceblue;
    margin-top: 3000px;
    transform: rotate3d(0, 1, 0.5, 3.2rad);
    transition: opacity 100ms, margin-top 20000ms, transform 10000ms;
}

@media (max-width:650px) {
    .reaction-matrix>*>* {
        width: 50px;
        opacity: 0.0;
        transition: 0;
    }
    .reaction-block:hover>*,
    .reaction-block>*:active>* {
        opacity: 1;
        color: aliceblue;
        margin-top: 1000px;
        transform: rotate3d(0, 1, 0.5, 3.2rad);
        transition: opacity 100ms, margin-top 10000ms, transform 10000ms;
    }
}