body {
    margin: 0;
    background-color: rgb(245, 245, 250);
}

.bottom {
    margin-top: auto;
}

.main-container {
    position: relative;
    top: 0;
    display: grid;
    grid-template-rows: 60px auto 40px;
    grid-template-columns: minmax(5px, 1fr) minmax(30%, 1024px) minmax(5px, 1fr);
    width: 100%;
    grid-template-areas:
        "top-space top-space top-space"
        "left-space content right-space"
        "bottom-space bottom-space bottom-space"
    ;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.content-container>div {
    margin: 6px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px lightgrey;
}

@media (max-width:650px) {
    .main-container {
        grid-template-rows: 5px auto 5px;
    }
}