.navbar-container {
    position: fixed;
    top: 0px;
    margin-top: 0;
    background-color: rgba(240, 248, 255, 0.9);
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 5px grey;
    z-index: 100;
}

.navbar-item {
    height: 2%;
    width: auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 500ms;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    text-decoration: none;
    color: black;
}

.navbar-item:hover,
.navbar-item:active {
    background-color: rgba(209, 231, 252, .5);
    border-bottom: 3px solid rgb(168, 213, 255);
    color: black;
}

.navbar-item:last-child,
.navbar-item:last-child:hover,
.navbar-item:last-child:active {
    height: 2%;
    margin-left: auto;
    border-left: 2px solid rgb(223, 231, 238);
    border-bottom: 0;
}

@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
    .navbar-container {
        background-color: rgba(240, 248, 255, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .dropdown-content {
        background-color: rgba(240, 248, 255, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

.highlighted {
    border-bottom: 3px solid rgb(108, 182, 252);
    color: rgb(27, 120, 207);
}

.highlighted:hover {
    border-bottom: 3px solid rgb(108, 182, 252);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.9);
    min-width: 160px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-menu:hover {
    color: rgb(27, 120, 207);
}

.dropdown-menu:hover>.dropdown-content {
    display: block;
    color: black;
}

.dropdown-content-container {
    display: flex;
    flex-direction: column;
}

.navbar-menu-item {
    text-decoration: none;
    color: black;
}

.short-navbar {
    display: none;
    height: auto;
}

@media (max-width:650px) {
    .short-navbar {
        display: inline;
    }
    .long-navbar {
        display: none;
    }
    .highlighted {
        color: rgb(27, 120, 207);
        background-color: rgba(0, 0, 0, 0);
        border-bottom: rgba(0, 0, 0, 0);
        text-decoration: none;
    }
    .navbar-menu-item:hover,
    .navbar-menu-item:active {
        background-color: rgba(91, 175, 253, 0.5);
        border-bottom: 0px;
        color: rgb(27, 120, 207);
    }
    .highlighted:active,
    .highlighted:hover {
        color: rgb(0, 103, 199);
        border-bottom: 0px solid rgb(108, 182, 252);
    }
    .navbar-item {
        border-bottom: 0;
        text-decoration: none;
        color: black;
    }
    .navbar-item:hover,
    .navbar-item:active {
        border-bottom: 0;
    }
}