.section {
    background-color: white;
    border-radius: 4px;
    height: 100%;
}

.section-header>summary {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 110, 194);
    color: white;
    cursor: pointer;
    list-style-type: none;
    padding: 1px 20px 1px 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgb(68, 68, 68);
}

.section-header>details::-webkit-details-marker {
    display: none;
}

.section-header>summary::-webkit-details-marker {
    display: none;
}

.section-header>summary::marker {
    display: none;
}

.section-entry,
.section-second-line {
    display: flex;
}

.section-entry>span:last-child,
.section-second-line>span:last-child {
    margin-left: auto;
    margin-right: 40px;
}

.entry-desc {
    margin-top: 10px;
    padding-right: 40px;
    text-align: justify;
}

.article-content {
    text-align: justify;
    padding: 40px;
    font-size: large;
}

.image-complex {
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-top: 0px;
    margin-bottom: 0;
}

.background-pic {
    margin: 0;
    padding: 0;
    border: 0;
    grid-row: 1 / span 10;
    grid-column: 1 / -1;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 5px rgb(112, 112, 112);
}

.personal-pic {
    margin-top: 10%;
    grid-row: 6 / -1;
    grid-column: 2;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(193, 226, 255);
    box-shadow: 0px 3px 2px rgb(197, 197, 197);
}

.info-section {
    display: flex;
    padding-left: 4.5%;
    font-size: x-large;
    padding: 0px 20px 40px 20px;
}

.name {
    padding-left: 0px;
    margin-bottom: 0px;
}

#right-part-info {
    margin-left: auto;
}


/* All the icons about belongs to the corresponding organization */

.list-img {
    margin: 0;
    list-style: none;
}

.small {
    background-size: 40px;
    padding: 10px 0 10px 54px;
}

.middle {
    background-size: 80px;
    padding: 40px 0 40px 94px;
}

@media (max-width:650px) {
    .image-complex {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin-top: 0px;
        margin-bottom: 0;
    }
    .background-pic {
        height: 200px;
    }
    .personal-pic {
        margin-top: 10%;
        grid-row: 5 / -1;
        grid-column: 2;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 7px solid rgb(193, 226, 255);
        box-shadow: 0px 3px 2px rgb(197, 197, 197);
    }
    .info-section {
        padding-left: 4.5%;
        font-size: medium;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 10px 10px 10px;
    }
    .name {
        margin-top: 0;
    }
    #right-part-info {
        margin-left: 35px;
        margin-right: 0;
    }
    .small {
        margin-top: 0;
        background-size: 20px;
        padding: 5px 0 5px 25px;
    }
    .middle {
        background-size: 50px;
    }
    .section-container {
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-container>ul {
        padding-left: 5px;
    }
    .list-img {
        display: inline;
        vertical-align: text-top;
        margin: 0;
        list-style: none;
    }
    .title-list {
        display: block;
        margin-left: -35px;
    }
    .article-content {
        text-align: justify;
        padding: 20px;
        font-size: medium;
    }
    .section-entry {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
    }
    .section-second-line {
        display: flex;
        flex-direction: column;
    }
    .section-entry>span:last-child,
    .section-second-line>span:last-child {
        margin-left: 0;
    }
    .section {
        background-color: white;
        border-radius: 4px;
        height: 100%;
    }
    .entry-desc {
        margin-top: 10px;
        margin-bottom: 30px;
        padding-right: 5px;
    }
    .section-header>summary>h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #right-part-info {
        margin-right: auto;
        margin-left: -5px;
    }
}